XTerm*locale:             true
XTerm*reverseVideo:       on
XTerm*loginShell:         on
XTerm*visualBell:         false
XTerm*utf8:               1
XTerm*jumpScroll:         false
XTerm*saveLines:          4096
XTerm*scrollBar:          false
XTerm*rightScrollBar:     false
XTerm*background:         gray87
XTerm*foreground:         black
XTerm*cursorColor:        black
XTerm*forcePackedFont:    false
XTerm*cjkWidth:           true
XTerm*faceSize:           12
XTerm*faceName:           Ricty
XTerm*faceNameDoublesize: Ricty
XTerm*fontDoublesize:     true
