XTerm*locale:             true
XTerm*reverseVideo:       on
! XTerm*VT100*font: 7x14
XTerm*loginShell:         on
XTerm*visualBell:         false
XTerm*utf8:               1
XTerm*jumpScroll:         false
XTerm*saveLines:          4096
XTerm*scrollBar:          false
XTerm*rightScrollBar:     false
XTerm*background:         gray87
XTerm*foreground:         black
XTerm*cursorColor:        black
XTerm*forcePackedFont:    false
XTerm*cjkWidth:           true
XTerm*faceSize:           12
XTerm*faceName:           Ricty
XTerm*faceNameDoublesize: Ricty
XTerm*fontDoublesize:     true
! URxvt*reverseVideo: on
! Rxvt.geometry: 120x50+50+50
! Rxvt.inheritPixmap: True
! Rxvt.tintColor: gray70
! Rxvt.foreground: gray80
! Rxvt.background: gray10
! Rxvt.cursorColor: goldenrod
! Rxvt.fading: 10
! Rxvt.shading: 80
! Rxvt.scrollBar: false
